.filter-container {
    background: #F2F2F2;
    padding: 15px 0px;

    .filter-wrap {
        display: flex;
        align-items: center;
        min-height: 34px;
        flex-wrap: wrap;

        .filter-select-wrap {
            margin-bottom: 15px;

            .filter-title {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
            
                letter-spacing: 0.07em;
                text-transform: uppercase;
            
                color: #212121;
                margin-right: 25px;
            }

            .filter-select {
                background: transparent;
                border: 0px;
                outline: none;
    
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
    
                letter-spacing: 0.07em;
                text-transform: uppercase;
    
                color: #212121;
                margin-right: 25px;
                text-transform: uppercase;
            }
        }

        .filter-selected-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .filter-selected-item {
                display: flex;
                align-items: center;
                background: #212121;
                text-transform: uppercase;
                padding: 5px 10px;
                color: #ffffff;
                margin-right: 5px;
                margin-bottom: 10px;

                i {
                    cursor: pointer;
                    margin-right: 10px;
                    font-size: 10px;
                }
            }
        }
    }
}