.galleries {
    .galleries-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .galleries-col {
            width: calc(50% - 8px);
            margin-bottom: 16px;

            .galleries-col-wrap {
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 0px;
                padding-top: 80%;
        
                &::before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(62.2deg, rgba(0, 0, 0, 0.9) -0.58%, rgba(0, 0, 0, 0) 59.53%);
                }
        
                .galleries-col-content {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;
                    right: 30px;
                    -webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
                    -moz-transition: all 0.2s ease;/* Firefox 4-15 */
                    -o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
                    transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */

                    .btn {
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        opacity: 0;
                        -webkit-transition: all 0.2s ease;/* Safari 3.2+, Chrome */
                        -moz-transition: all 0.2s ease;/* Firefox 4-15 */
                        -o-transition: all 0.2s ease;/* Opera 10.5-12.00 */
                        transition: all 0.2s ease;/* Firefox 16+, Opera 12.50+ */
                    }
                }

                &:hover {
                    .galleries-col-content {
                        padding-bottom: 56px;
                        .btn {
                            opacity: 1;
                        }
                    }   
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .galleries-list {
            .galleries-col {
                .galleries-col-wrap {
                    padding-top: 60%;
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .galleries-list {
            .galleries-col {
                width: 100%;
                .galleries-col-wrap {
                    padding-top: 60%;
                }
            }
        }
    }
}