.navigations {
    background: #F2F2F2;

    .navigation-link {
        display: inline-block;
        cursor: pointer;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    
        text-align: center;
        letter-spacing: 0.07em;
        text-transform: uppercase;
    
        color: #212121;
        position: relative;
        padding: 15px 10px;

        &:first-of-type {
            padding-left: 0px;
        }
        
        &.active::after {
            content: '';
            position: absolute;
            left: 0px;
            width: 100%;
            bottom: 0px;
            height: 1px;
            background: #212121;
        }
    }

    &.sticky {
        left: 0px;
        top: 51px;
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    @media screen and (max-width: 992px) {
        &.sticky {
            top: 56px;
        }
    }

    @media screen and (max-width: 782px) {
        &.sticky {
            top: 70px;
        }
    }
}

.admin-bar {
    .navigations {
        &.sticky {
            top: 83px;
        }

        @media screen and (max-width: 992px) {
            &.sticky {
                top: 88px;
            }
        }

        @media screen and (max-width: 782px) {
            &.sticky {
                top: 102px;
            }
        }
    }
}