
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #FBFCFF;
    z-index: 1;

    .nav-header-wrap {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        .header-logo__img {
            width: 40px;
        }
        
        #navbar-content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            .navbar-nav {
                .nav-link {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                
                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                
                    color: #54565A;
                    padding: 0px 15px;
                }
            }
        }
    
        .header-links {
            text-align: right;
            font-size: 0px;
    
            .header-link {
                text-transform: uppercase;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.07em;
                text-transform: uppercase;
            
                color: #54565A;
            
                text-decoration: none;
                cursor: pointer;
                margin: 0px 15px;

                display: inline-block;
    
                &:last-of-type {
                    margin-right: 0px;
                }
    
                &:hover {
                    color: #54565A;
                    text-decoration: none;
                }
                
            }
        }
    }

    @media screen and (max-width: 992px) {
        .nav-header-wrap {
            justify-content: space-between;
            flex-wrap: wrap;

            #navbar-content {
                width: 100%;
                position: static;
                transform: initial;

                .navbar-nav {
                    .nav-link {
                        padding: 10px 15px;
                        text-align: center;
                    }
                }

                .header-links {
                    .header-link-wrap {
                        text-align: center;

                        .header-link {
                            margin: 10px 0px;
                        }
                    }
                }
            }
        }
    }
}

.admin-bar {
    .header {
        top: 32px;
    }

    @media screen and (max-width: 782px) {
        .header {
            top: 46px;
        }
    }
}