.wp-block-group.has-background,
.wp-block-columns.has-background{
	padding:0;
}

.wp-block-image{
	margin: 0 !important; 

	* {
		margin: 0 !important; 
	}
}

.wp-block-columns{
	margin: 0;
	
	.wp-block-column{
		height: 100%;
	}
}
